.experiencia {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12.5rem;
    padding: 5rem 1.25rem;
}

.experiencia-subtitulo {
    color: lightgrey;
    font-size: 7.5rem;
    text-transform: uppercase;
    word-break: break-all;
}

.experiencia-texto {
    margin-bottom: 5rem;
    max-width: 35rem;
    color: grey;
    font-size: 1.25rem;
    line-height: 1.3;
}

.experiencia-texto a {
    border-bottom: 0.1875rem solid greenyellow;
    color: #141414;
    font-weight: bold;
    text-decoration: none;
}

.empresa {
    display: grid;
    position: relative;
    grid-template-columns: 1.25fr 1fr;
    gap: 0.625rem 1.25rem;
    margin-bottom: 1.25rem;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    background: #f5f5f5;
    padding: 1.25rem 1.5625rem;
}

.empresa:hover {
    border-color: grey;
}

.empresa-descricao {
    line-height: 1.3;
}

.empresa-ano {
    position: absolute;
    top: 1.25rem;
    left: -5.625rem;
    width: 6.25rem;
    color: grey;
}

.empresa-nome,
.empresa-cargo {
    font-size: 1.25rem;
}

.empresa-nome::before {
    position: absolute;
    top: 1rem;
    left: -0.125rem;
    background: linear-gradient(to bottom, white, black);
    width: 0.25rem;
    height: 1.5rem;
    content: "";
}

.empresa-habilidades {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 0.625rem;
}

.empresa-habilidade {
    border-radius: 0.25rem;
    background: white;
    padding: 0.1875rem 0.4375rem;
    font-size: 0.8rem;
}

@media (max-width: 75rem) {
    .experiencia-subtitulo {
        margin-bottom: 1.25rem;
        font-size: 5rem;
    }

    .experiencia {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0 auto;
        padding: 2.5rem 1.25rem;
        max-width: 41.5625rem;
    }
}

@media (max-width: 56.25rem) {
    .empresas {
        margin-left: 6.25rem;
    }
}

@media (max-width: 40.625rem) {
    .experiencia-subtitulo {
        margin-bottom: 0.9375rem;
        font-size: 3rem;
    }

    .experiencia-texto {
        margin-bottom: 1.25rem;
        font-size: 1rem;
    }

    .empresas {
        margin-left: 3.125rem;
    }

    .empresa-ano,
    .empresa-nome,
    .empresa-cargo {
        font-size: 0.75rem;
    }

    .empresa-ano {
        left: -3.4375rem;
    }

    .empresa-descricao {
        font-size: 0.75rem;
    }

    .empresa-habilidade {
        font-size: 0.75rem;
    }
}

@media (max-width: 21.875rem) {
    .experiencia-subtitulo {
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
    }

    .empresa {
        display: flex;
        flex-direction: column;
    }

    .experiencia-texto {
        font-size: 0.75rem;
    }

    .empresa-habilidade {
        font-size: 0.75rem;
    }
}