.footer-container {
    background: black;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.375rem 31.25rem;
    padding: 5rem 1.25rem;
    color: white;
}

.footer-texto {
    color: #a3a3a3;
    font-size: 1.25rem;
    line-height: 1.3;
}

.footer-contato {
    color: white;
    font-size: 1.5rem;
    line-height: 2.5;
}

.footer-contato a {
    border-bottom: 0.0625rem solid greenyellow;
    color: white;
    text-decoration: none;
}

.footer-copy {
    color: #a3a3a3;
}

@media (max-width: 75rem) {
    .footer {
        gap: 3.125rem 6.25rem;
        margin: 0 auto;
        padding: 2.5rem 1.25rem;
        max-width: 41.5625rem
    }

    .footer-contato {
        line-height: 2;
    }
}

@media (max-width: 40.625rem) {
    .footer {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1.25rem;
        max-width: 20rem;
        text-align: center;
    }

    .footer-texto {
        font-size: 1rem;
    }

    .footer-contato {
        font-size: 1rem;
        line-height: 1.5;
    }

    .footer-copy {
        font-size: 0.75rem;
    }
}

@media (max-width: 21.875rem) {
    .footer {
        gap: 0.625rem;
        max-width: 15rem;
    }

    .footer-texto {
        font-size: 0.75rem;
    }

    .footer-contato {
        font-size: 0.75rem;
    }

    .footer-copy {
        font-size: 0.5rem;
    }
}