.formacao-container {
    background: #141414;
}

.formacao {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
    gap: 12.5rem;
    padding: 5rem 1.25rem;
    color: white;
}

.formacao::after {
    position: absolute;
    bottom: -3.75rem;
    left: -3.125rem;
    z-index: 2;
    background: url(../img/detalhe2.svg) center/cover;
    width: 8rem;
    height: 8rem;
    content: "";
}

.formacao-subtitulo {
    color: greenyellow;
    font-size: 7.5rem;
    text-transform: uppercase;
    word-break: break-all;
}

.formacao-texto {
    margin-bottom: 3.75rem;
    max-width: 35rem;
    color: grey;
    font-size: 1.25rem;
    line-height: 1.3;
}

.formacao-texto strong {
    color: white;
}

.faculdade-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    margin-bottom: 3.75rem;
}

.faculdade-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    background: black;
    padding: 1.25rem;
}

.faculdade-item:hover {
    border-color: greenyellow;
}

.faculdade-tipo {
    margin-bottom: 0.625rem;
    color: #a3a3a3;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.faculdade-curso {
    position: relative;
    flex: 1;
    margin-bottom: 3.75rem;
}

.faculdade-curso::before {
    position: absolute;
    left: -1.375rem;
    background: linear-gradient(to bottom, yellow, greenyellow);
    width: 0.25rem;
    height: 1.5rem;
    content: "";
}

.faculdade-instituicao {
    color: #a3a3a3;
}

.formacao-extra {
    display: flex;
    gap: 5rem;
}

.formacao-extra strong {
    color: #8f8f88;
}

.formacao-extra h3 {
    position: relative;
    margin-bottom: 1.875rem;
    color: #a3a3a3;
    font-size: 0.875rem;
    line-height: 1.4;
    text-transform: uppercase;
}

.formacao-extra h3::before {
    position: absolute;
    left: -2.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    content: "";
}

.cursos h3::before {
    background: url(../img/book.svg) no-repeat center/cover;
}

.idiomas h3::before {
    background: url(../img/language.svg) no-repeat center/cover;
}

.premios h3::before {
    background: url(../img/awards.svg) no-repeat center/cover;
}

.cursos {
    margin-bottom: 3.75rem;
}

.formacao-extra li {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
}

@media (max-width: 75rem) {
    .formacao-subtitulo {
        margin-bottom: 1.25rem;
        font-size: 5rem;
    }

    .formacao {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0 auto;
        padding: 2.5rem 1.25rem;
        max-width: 41.5625rem;
    }
}

@media (max-width: 50rem) {
    .faculdade-lista {
        grid-template-columns: 1fr;
    }

    .faculdade-curso {
        margin-bottom: 0.625rem;
    }

    .formacao-extra {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

@media (max-width: 40.625rem) {
    .formacao::after {
        visibility: hidden;
    }

    .formacao-subtitulo {
        margin-bottom: 0.9375rem;
        font-size: 3rem;
    }

    .formacao-texto {
        margin-bottom: 1.25rem;
        font-size: 1rem;
    }

    .faculdade-tipo,
    .faculdade-curso,
    .faculdade-instituicao {
        font-size: 0.75rem;
    }

    .formacao-extra {
        gap: 1.25rem;
    }

    .cursos {
        margin-bottom: 0.625rem;
    }

    .cursos h3 {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }

    .cursos li {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }

    .idiomas h3 {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }

    .idiomas li {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }

    .premios h3 {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }

    .premios li {
        margin-bottom: 0.625rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 21.875rem) {
    .formacao-subtitulo {
        margin-bottom: 0.625rem;
        font-size: 1.5rem;
    }

    .formacao-texto {
        font-size: 0.75rem;
    }
}