.introducao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 12.5rem;
    padding: 5rem 1.25rem;
}

.introducao h1 {
    position: relative;
    margin-bottom: 1.875rem;
    font-size: 4.5rem;
    line-height: 1.25;
}

.introducao h1::before {
    position: absolute;
    top: -0.4em;
    left: -0.6em;
    z-index: -1;
    background: url(../img/detalhe1.svg) center/cover;
    width: 1.5em;
    height: 1.5em;
    content: "";
}

.introducao h1 a {
    border-bottom: 0.25rem solid greenyellow;
    color: inherit;
    text-decoration: none;
}

.introducao p {
    color: grey;
    font-size: 1.5rem;
}

@media (max-width: 75rem) {
    .introducao {
        gap: 7.5rem;
        padding: 2.5rem 1.25rem;
    }

    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 50rem) {
    .introducao {
        gap: 5rem;
    }

    .introducao h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 40.625rem) {
    .introducao {
        grid-template-columns: 1fr 1.5fr;
        gap: 2.5rem;
        padding: 0.625rem 1.25rem;
    }

    .introducao h1 {
        font-size: 1.5rem;
    }

    .introducao p {
        font-size: 1rem;
    }
}

@media (max-width: 21.875rem) {
    .introducao {
        gap: 1.25rem;
        padding: 0.625rem 1.25rem;
    }

    .introducao h1 {
        margin-bottom: 0.625rem;
        font-size: 1rem;
    }

    .introducao p {
        font-size: 0.5rem;
    }
}